body{
    top: 150px;
    position: relative;
}

input{
    color: rgba(248, 6, 6, 0.459);
}
input[type=submit] {
    color: rgb(43, 116, 1);
    background-color: black;
}
input[type=reset]{
    color: brown;
    background-color: black;
}
.uno{
    left: -25%;
    position: relative;
    top: 50px;
    width: 50px;
    height: 50px;
}
.dos{
    left: -3%;
    position: relative;
    top: 50px;
    width: 50px;
    height: 50px;
}
.tres{
    left: 18%;
    position: relative;
    top: 50px;
    width: 50px;
    height: 50px;
}
/* display flex para que se vea de lado y no para abajo */
.d {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}
  
.i{
    list-style: none;
}
  
label {
     position: relative;
}
  
input[type="checkbox"] {
    position: relative;
    opacity: 0;
    cursor: pointer;
    height: 60px;
    width: 60px;
    z-index: 200;
    top: 75px;
}
.centrar{
    position: relative;
    top: 125px;
    font-size: 22px;
}
.diez{
    position: center;
    height: 80px;
    width: 80px;
    background: #18191f;
    color: #555;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 46px;
    cursor: pointer;
    margin: 0 4px;
    border-radius: 20px;
    box-shadow: -1px -1px 4px rgba(255, 255, 255, 0.05),
      4px 4px 6px rgba(0, 0, 0, 0.2),
      inset -1px -1px 4px rgba(255, 255, 255, 0.05),
      inset 1px 1px 1px rgba(0, 0, 0, 0.1);
}
/* Estructura facil de que cuando el checkbox esté checkeado por así decirlo, cambie de colores y lo hacemos añadiendole una animacion */
input[type="checkbox"]:checked ~ div{
    box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.05),
      inset 4px 4px 6px rgba(0, 0, 0, 0.2);
    color: yellow;
    text-shadow: 0 0 15px yellow, 0 0 25px yellow;
    animation: glow 1.5s linear infinite;
}
  
@keyframes glow {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
  }
.derecha{
    visibility:visible;
    display:block;
    font-family:'Dosis',sans-serif;
    letter-spacing:normal;
    font-weight:400;
    text-transform:uppercase;
    text-decoration:none;
    text-align:center;
    font-size:15px;
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    transform:rotate(-90deg);
    -webkit-transform-origin:100% 50%;
    -moz-transform-origin:100% 50%;
    -ms-transform-origin:100% 50%;
    -o-transform-origin:100% 50%;
    transform-origin:100% 50%;
    position:absolute;
    width:325px;
    right:35px;
    top:50%;
    margin-top:-174px;
    -webkit-transition:all 0.7s;
    -moz-transition:all 0.7s;
    -ms-transition:all 0.7s;
    -o-transition:all 0.7s;
    transition:all 0.7s;
    z-index:500
}
.izquierda{
    visibility:visible;
    display:block;
    font-family:'Dosis',sans-serif;
    letter-spacing:normal;
    font-weight:400;
    text-transform:uppercase;
    text-decoration:none;
    text-align:center;
    font-size:15px;
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    transform:rotate(-90deg);
    -webkit-transform-origin:0% 50%;
    -moz-transform-origin:0% 50%;
    -ms-transform-origin:0% 50%;
    -o-transform-origin:0% 50%;
    transform-origin:0% 50%;
    position:absolute;
    width:325px;
    left:36px;
    top:50%;
    margin-top:151px;
    -webkit-transition:all 0.7s;
    -moz-transition:all 0.7s;
    -ms-transition:all 0.7s;
    -o-transition:all 0.7s;
    transition:all 0.7s;
    z-index:500
}